// Задача 1
// Массив: сумма элементов
// Создай массив из 5 целых чисел и посчитай сумму всех элементов.

var nums : [Int] = [1,2,3,4,5]
var nums1 = [2,3,4,5,6]
var nums2 : Array<Int> = Array(arrayLiteral: 3,4,5,6,7) //я не понимаю какую роль играет "arrayLiteral", как будто-бы можно обойтись первым вариантом

var sum = nums.reduce( 0 , + )
var sum1 = nums1.reduce( 0 , + )
var sum2 = nums2.reduce( 0 , + )

nums.insert( 1, at:5)
nums1.append(1)
nums2.remove(at: 2)
nums2.insert( 1, at:2)

sum = nums.reduce( 0 , + )
sum1 = nums1.reduce( 0 , + )
sum2 = nums2.reduce( 0 , + )

sum = nums3.reduce(0,+)
print(sum)

// Задача 2:
// Массив: фильтрация
// Дан массив чисел. Создай новый массив, в котором будут только чётные числа.

var nums = 1...25
var nums1 = [Int]()
for number in nums {
    if number % 2 == 0 {
        nums1 += [number]
    }
}
 print(nums1)

// Задача 3:
// ловарь: подсчёт повторений
// Дан массив строк (например, имена). Создай словарь, где:
// * ключ — это строка
// * значение — сколько раз она встречается



let setnames = ["Anna","Brad","Leonardo","Elena","Steve"]
var names = [String]()
var randname = setnames.randomElement()

//вот этот код не работает
//for i in 1...100 {
//    randname = setnames.randomElement()
//    names.insert(randname, at: i)
//}

let colors = ["Red", "Green", "Blue"]
let randomColor = colors.randomElement()  //а вот этот работает

//вот таким образом сделал случайный массив имен, но хочется кророче

let setnames = ["Anna","Brad","Leonardo","Elena","Steve"]
var names = [String]()
var randname = setnames.randomElement()
var randindex : Int


for i in 1...50 {
    randindex = Int.random (in: 0...4)
    names.insert(setnames[randindex], at: i-1 )
}
